  @font-face {
    font-family: 'againtsregular';
    src: url("../fonts/againts-webfont.woff2") format('woff2'), url("../fonts/againts-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }

.hero__title {
    font-size: 0.5em;
    border-bottom: 0;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'againtsregular';
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
    display: inline-block;
    -webkit-animation-name: floating;
            animation-name: floating;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  .hero__title .hashtag {
    color: #ffc600;
    font-size: 0.5em;
  }
  .hero__title .num {
    color: #ffc600;
    font-size: 1.5em;
    position: relative;
    top: 0.07em;
  }
  .hero__title:before {
    z-index: -1;
    content: '_';
    position: absolute;
    color: #000;
    left: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    font-size: 55rem;
    line-height: 20px;
  }

  .footer {
    height: 5rem;
    background: linear-gradient(45deg, #00537E,  #18163d);
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    color: #fff;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.footer a {
    color: #fff;
}

.hero__title {
    margin: 0 1em 0 0.3em;
    justify-self: left;
    align-self: flex-start;
}

.footer a.hero__title span.word,
.footer a.hero__title span.num {
    text-decoration: none;
    font-size: 2.5rem;
}

#current-page {
    flex: 2;
    width: 100%;
    text-align: center;
}



@media all and (max-width: 360px) {
    .hero__title {
      font-size: 4rem;
    }
  }