.challenge-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.challenge-card {
    max-width: 360px;
    height: 360px;
    flex: 1 1 260px;
    width: calc(100% - 2em);
    margin: 1em;
}

.mdl-card__supporting-text {
  height: 120px;  
}

.challenge-card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hero > h1 {
    margin-top: 0;
}

/* Default style */
.challenge-card>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.challenge-card>.mdl-card__menu {
    color: #fff;
}

.mdl-card__title-text {
    background: rgba(0,0,0,.56);
    width: 100%;
}
/* Default style ^^^^^ */

@media screen and (min-width: 650px) {
    .challenge-list {
        flex-flow: row wrap;
    }
}