<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Array Cardio 💪</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link href="./style.css" rel="stylesheet" />
     <!-- Footer Stuff -->
     <link rel="stylesheet" type="text/css" media="screen" href="../public/css/footer.css">

  </head>

  <body>
    <header>
      <h2 class="titulo">Array Cardio</h2>
      <section class="summary">
        This project was originally a console only assignment, but I decided to
        spice it up a little. Thought it might be a good idea to bring Vuejs
        into the mix so that I could render the results. Using Vuejs and
        Vuetify...a material design component library for Vue.
      </section>
    </header>

    <div id="app">
      <v-app id="inspire">
        <v-layout row>
          <v-flex xs12 sm8 offset-sm3>
            <v-card>
              <v-toolbar color="blue" dark>
                <v-toolbar-title>Scientist, Inventors, and People</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>

              <v-list two-line>
                <template v-for="(item, index) in items">
                  <v-subheader v-if="item.header" :key="item.header">
                    {{ item.header }}
                  </v-subheader>

                  <v-divider
                    v-else-if="item.divider"
                    :key="index"
                    :inset="item.inset"
                  ></v-divider>

                  <v-list-tile v-else :key="item.name + index" avatar @click="">
                    <v-list-tile-avatar>
                      <img v-if="item.avatar" :src="item.avatar" />
                      <v-icon v-if="!item.avatar">people</v-icon>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                      <v-list-tile-title
                        v-html="item.name"
                      ></v-list-tile-title>
                      <v-list-tile-sub-title
                        v-html="item.subtitle"
                      ></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-app>
    </div>

    <!-- Vuejs production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="./script.js"></script>
    <script>
      let items = [];
      items.push({ header: "Filter the list of inventors to show those that were born in the 1500s" })
      const divider = { divider: true, inset: true }
      filter.forEach(inventor => {
        let inventorObj = {
          avatar: inventor.avatar,
          name: `${inventor.first} ${inventor.last}`,
          subtitle: `${inventor.first} was born on ${inventor.year}, and passed away on ${inventor.passed}`,
        }

        items.push(inventorObj)
        items.push(divider)
      });

      items.push({ header: "Give us an array of the inventors' first and last names" })
      map.forEach(inventor => {
        let inventorObj = {
          name: inventor,
        }

        items.push(inventorObj)
        items.push(divider)
      })

      items.push({ header: "Sort the inventors by birthdate, oldest to youngest" })
      sorted.forEach(inventor => {
        let inventorObj = {
          avatar: inventor.avatar,
          name: `${inventor.first} ${inventor.last}`,
          subtitle: `${inventor.first} was born on ${inventor.year}, and passed away on ${inventor.passed}`,
        }

        items.push(inventorObj)
        items.push(divider)
      })

      items.push({ header: "How many years did all the inventors live?" })
      if (reduce) {
        let inventorObj = {
          name: `They lived for: ${reduce} years`,
        }

        items.push(inventorObj)
        items.push(divider)
      }

      items.push({ header: "Sort the inventors by years lived" })
      sortedYears.forEach(inventor => {
        let inventorObj = {
          avatar: inventor.avatar,
          name: `${inventor.first} ${inventor.last}`,
          subtitle: `${inventor.first} lived for ${(inventor.passed - inventor.year)} years`,
        }

        items.push(inventorObj)
        items.push(divider)
      })

      items.push({ header: "Sort the people alphabetically by last name" })
      sortedPeople.forEach(person => {
        let personObj = {
          name: person,
        }

        items.push(personObj)
        items.push(divider)
      })

      items.push({ header: "Sum up the instances of each of these" })
      let carObj = {
          avatar: 'https://i.imgur.com/UXNwa6Z.png',
          name: 'Car',
          subtitle: reducedData.car
        }
        items.push(carObj)
        items.push(divider)

      let truckObj = {
          avatar: 'https://i.imgur.com/UXNwa6Z.png',
          name: 'Truck',
          subtitle: reducedData.truck
        }
        items.push(truckObj)
        items.push(divider)

      let bikeOBj = {
          avatar: 'https://i.imgur.com/UXNwa6Z.png',
          name: 'Bike',
          subtitle: reducedData.bike
        }
        items.push(bikeOBj)
        items.push(divider)

      let walkObj = {
          avatar: 'https://i.imgur.com/UXNwa6Z.png',
          name: 'Walk',
          subtitle: reducedData.walk
        }
        items.push(walkObj)
        items.push(divider)

      let vanObj = {
          avatar: 'https://i.imgur.com/UXNwa6Z.png',
          name: 'Van',
          subtitle: reducedData.van
        }
        items.push(vanObj)
        items.push(divider)

      // TODO: USE VUE TEMPLATING
      new Vue({
        el: "#app",
        data() {
          return { items };
        }
      });
    </script>
     <footer id="dynamic-footer" class="footer">
         <a href="./" class="footer__title">
            <span class="word">JavaScript</span><span class="num">30</span>
        </a>
    
        <div id="current-page">
            <script>
                const current = document.getElementById("current-page");
                current.innerHTML = `{ { ${document.title} } }`;
            </script>
        </div>
    
        <span class="msg">Made with &#10084; by <a href="http://sherwino.co">Sherwino</a></span>
        <div class="social">
            <a href="https://github.com/sherwino">
                <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="#fff" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
                </svg>
            </a>
            <a href="https://linkedin.com/in/sherwino">
                <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                        <path fill="#fff" d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
                </svg>
            </a>
            <a href="https://instagram.com/sherwinograms">
                <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                        <path fill="#fff" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                    </svg>
            </a>
        </div>
    </footer>
  </body>
</html>
